
@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>File result</title>
</head>
<body>
    <p><a href="/file/Sample1">File content result[save file]</a></p>
    <p><a href="/file/Sample2">File content result[show file in brouzer]</a></p>
    <p><a asp-action="Sample3">Physycian file</a></p>
    
</body>
</html>

