@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Homa page</title>
</head>
<body>
    <p><a asp-action="Add" asp-controller="Home" asp-route-x="20" asp-route-y="30">First action (20+30)</a></p>
    <p><a asp-action="Mul" asp-controller="Home" asp-route-x="20" asp-route-y="10">Second action (20*10)</a></p>
    <p><a asp-action="Div" asp-controller="Home" asp-route-x="20" asp-route-y="10">Third action (20/10)</a></p>
    <p><a asp-action="Sub" asp-controller="Home" asp-route-x="20" asp-route-y="10">Fought action (20-10)</a></p>
</body>
</html>
