
@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Content result</title>
</head>
<body>
    <a href="/ContentResult/Sample1">Response text/plain</a></p>
    <a href="/ContentResult/Sample2">Response aplication/json</a>
</body>
</html>

