@model Task_3_Controller_IP_Address.Models.Ipaddress

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h2>Host name: @Model.hostName</h2>
        <h2>IP Address: @Model.IP</h2>
    </div>
</body>
</html>