@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li><a href="/Redirect/Index">Redirect content</a></li>
        <li><a href="/Json/Index">JSON response</a></li>
        <li><a href="/ContentResult/Index">Content result</a></li>
        <li><a href="/StatusCode/Index">Status code</a></li>
    </ul>
</body>
</html>