
@{
    Layout = null;
}



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li><a asp-controller="redirect" asp-action="sample1">Sample 1 (to another web-site Code 302)</a></li>
        <li><a asp-controller="redirect" asp-action="sample2">Sample 2 (to another action Code 200)</a></li>
        <li><a asp-controller="redirect" asp-action="sample3">Sample 3 (to another action Code 301 for SEO)</a></li>
        <li><a asp-controller="redirect" asp-action="sample4">Sample 4 (to another action of this Controller)</a></li>
        <li><a asp-controller="redirect" asp-action="sample5">Sample 5 (to the main action)</a></li>
        <li><a asp-controller="redirect" asp-action="sample6">Sample 6 (to the main action)</a></li>
    </ul>
</body>
</html>
