
@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CAlculate</title>
</head>
<body>
    <div>
        Result: @Model
    </div>
    <form action="/Home/Index" method="post">
        <input type="submit" name="Return" value="Return" />
    </form>
</body>
</html>
