@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator</title>
</head>
<body>
    <form action="/Home/Calculate" method="post">
        <input type="text" name="a" value="" />
        <input type="text" name="b" value="" /></p>
        <input type="submit" name="submitButton" value="Plus" />
        <input type="submit" name="submitButton" value="Sub" />
        <input type="submit" name="submitButton" value="Mult" />
        <input type="submit" name="submitButton" value="Div" />
    </form>

</body>
</html>