
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of Products</title>
</head>
<body>
    <h2>List of products</h2>

    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.Category</td>
                <td>
                    @if (item.StorageCount == 0)
                    {<p>out of stock</p>}
                    else if (item.StorageCount < 5)
                    {<p>ends</p>}
                    else
                    {@item.StorageCount}
                </td>
                <td>
                    <a href="/Products/Details/@item.Id">Details...</a>
                </td>
            </tr>
        }
    </table>
    @if (Model.Count != 0)
    {<p>Count: @Model.Count</p>}
else
{<p>The list is empty.</p>}
</body>
</html>